  #             Assignment - 2

#    Data Science: Tools and Techniques (AM 624D)

## Name : Sameer Bara

## Reg. No. : 21-14-19

1. A program to input two numbers and perform their addition -

In [1]:
a=float(input("Enter the first number (a) : "))
b=float(input("Enter the second number (b): "))
s=a+b
print("Addition of first number (a) and second number (b) :" , s)

Enter the first number (a) : 2
Enter the second number (b): 5
Addition of first number (a) and second number (b) : 7.0

2. A program to input marks and calculate the grade of a student as per the DIAT norms -

In [113]:
a=float(input("Enter the Grade Point of AM621 : "))
b=float(input("Enter the Grade Point of AM622 : "))
c=float(input("Enter the Grade Point of AM623 : "))
d=float(input("Enter the Grade Point of AM624D : "))
e=float(input("Enter the Grade Point of ME607 : "))
f=float(input("Enter the Grade Point of ME660 : "))

x=4    #( Where x = Credit )

y = (x*(a+b+c+d+e+f))/(6*x)

if (a>4) and (b>4) and(c>4) and(d>4) and(e>4) and(f>4):
    print("Pass")
    print("SGPA :" , y)

else:
   print("Fail")

Enter the Grade Point of AM621 : 9
Enter the Grade Point of AM622 : 9.5
Enter the Grade Point of AM623 : 10
Enter the Grade Point of AM624D : 10
Enter the Grade Point of ME607 : 10
Enter the Grade Point of ME660 : 10
Pass
SGPA : 9.75

3. A program to find largest among 3 numbers -

In [55]:
a = float(input("Enter first number: "))
b = float(input("Enter second number: "))
c = float(input("Enter third number: "))

if (a > b) and (a > b):
   largest = a
elif (b > a) and (b > c):
   largest = b
else:
   largest = c

print("The largest number is", largest)

Enter first number: 5
Enter second number: 8
Enter third number: 1
The largest number is 8.0

4. A program to input number of lines from the user and print the patterns: If the user enters 4 following patters should be printed:
*
**
***
****

In [38]:
def pypart(n):
     
    for i in range(0, n):
     
        for j in range(0, i+1):
         
            # printing stars
            print("*",end="")
      
        # ending line after each row
        print("\r")
 
n = 4
pypart(n)

*
**
***
****

5. A program to print the Diamond Pattern

In [15]:
print('   * \n  * *\n * * *\n  * *\n   *')

   *
  * *
 * * *
  * *
   *

6. A program to print the following pattern 
*
**
***
**
*

In [36]:
print('* \n**\n***\n**\n*')

*
**
***
**
*

7. Write a program to make a List in Python and perform following operations on List:

In [85]:
 """
 a). length using len() function
 b). print element at index 0
 c). adding an element to the list using + operator
 """
list = [1, 4, 4, 4, 6, 3, 6, 5, 8, 9, 10, 17]

a = len(list)
b = list[0]
list += [100, 101, 102]

print("Length of a list :" , a)
print("Element at index 0 of a list :" , b)
print("Updated list :" , list)

Length of a list : 12
Element at index 0 of a list : 1
Updated list : [1, 4, 4, 4, 6, 3, 6, 5, 8, 9, 10, 17, 100, 101, 102]

In [86]:
# d) Appending an element to the list 

list.append(999)
print("appended list :" , list)

appended list : [1, 4, 4, 4, 6, 3, 6, 5, 8, 9, 10, 17, 100, 101, 102, 999]

In [87]:
# e) Ngative indexing in list

c = list[-1]
print("Element at index (-1) of a list :" , c)

Element at index (-1) of a list : 999

In [88]:
# e) Ngative indexing in list

print("The original list is : " + str(list))


K = 10
 
# -1 operator to reverse list, index() used to get index
res = ~list[::-1].index(K)
 
# printing result
print("The required Negative index : " + str(res))

The original list is : [1, 4, 4, 4, 6, 3, 6, 5, 8, 9, 10, 17, 100, 101, 102, 999]
The required Negative index : -6

In [92]:
"""
f) Remove the first occurrence of element a from list
g) Reverse the list
h) sort list
"""

list.remove(list[0])
print("Remove first element of a list :" , list)

list.reverse()
print("Reversed list :" , list)

list.sort()
print("Sorted list :" , list)

Remove first element of a list : [4, 4, 5, 6, 6, 8, 9, 10, 17, 100, 101, 102, 999]
Reversed list : [999, 102, 101, 100, 17, 10, 9, 8, 6, 6, 5, 4, 4]
Sorted list : [4, 4, 5, 6, 6, 8, 9, 10, 17, 100, 101, 102, 999]

8. A program to demonstrate use of Dictionary in Python with their inbuilt functions.

In [112]:
Dict = dict({1: 'Data', 2: 'Science:', 3:'Tools', 4: 'and', 5:'Techniques'})
print("Dictionary with the use of dict : ")
print(Dict)

Dictionary with the use of dict :
{1: 'Data', 2: 'Science:', 3: 'Tools', 4: 'and', 5: 'Techniques'}

9.  A program to demonstrate use of Set in Python with their inbuilt functions

In [107]:
# set of letters
s = {'p', 'q', 'r', 's'}
 
# adding 's'
s.add('f')
print('Set (add) after updating:', s)
 
# Discarding element from the set
s.discard('g')
print('\nSet after updating:', s)
 
# Removing element from the set
s.remove('p')
print('\nSet after updating:', s)
 
# Popping elements from the set
print('\nPopped element', s.pop())
print('Set after updating:', s)
 
s.clear()
print('\nSet after updating:', s)

Set (add) after updating: {'f', 's', 'r', 'p', 'q'}

Set after updating: {'f', 's', 'r', 'p', 'q'}

Set after updating: {'f', 's', 'r', 'q'}

Popped element f
Set after updating: {'s', 'r', 'q'}

Set after updating: set()

10. Write a program to demonstrate use of Tuple in Python with their inbuilt functions

In [101]:
x = (2,3,5,6,4,8,2,1,6,5,1,0,5,5,9,5,4,5)
print( "Show the value : ", X)
x = type(x)
print( "Type of X : ", x)

Show the value :  (2, 3, 5, 6, 4, 8, 2, 1, 6, 5, 1, 0, 5, 5, 9, 5, 4, 5)
Type of X :  <class 'tuple'>

11. A program to calculate Median using List -

In [9]:
import statistics
  
# initializing list
test_list = [4, 4, 6, 3, 6, 5, 8, 9, 10, 17]
  
# printing list
print("The original list : " + str(test_list))
  
# Median of list
# Using statistics.median()
res = statistics.median(test_list)
  
# Printing result
print("Median of list is : " + str(res))

The original list : [4, 4, 6, 3, 6, 5, 8, 9, 10, 17]
Median of list is : 6.0

12. A program to calculate Mode using List -

In [10]:
import statistics
  
# initializing list
test_list = [4, 4, 4, 6, 3, 6, 5, 8, 9, 10, 17]
  
# printing list
print("The original list : " + str(test_list))
  
# Median of list
# Using statistics.mode()
res = statistics.mode(test_list)
  
# Printing result
print("mode of list is : " + str(res))

The original list : [4, 4, 4, 6, 3, 6, 5, 8, 9, 10, 17]
mode of list is : 4

13. A program to calculate Mean using List

In [12]:
import statistics
  
# initializing list
test_list = [4, 4, 4, 6, 3, 6, 5, 8, 9, 10, 17]
  
# printing list
print("The original list : " + str(test_list))
  
# Median of list
# Using statistics.mean()
res = statistics.mean(test_list)
  
# Printing result
print("mean of list is : " + str(res))

The original list : [4, 4, 4, 6, 3, 6, 5, 8, 9, 10, 17]
mean of list is : 6.909090909090909

14. A program to demonstrate list creation, append entire list to another list

In [8]:
list0 = [4, 4, 4, 6, 3, 6, 5, 8, 9, 10, 17]
print("list : ", list0)
list1 = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
list.append(list1)
print("Updated list : ", list)

list :  [4, 4, 4, 6, 3, 6, 5, 8, 9, 10, 17]
Updated list :  [4, 4, 4, 6, 3, 6, 5, 8, 9, 10, 17, 5, 5, [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]]

15. A program to demonstrate slicing operations on the list

In [46]:
String = 'Data Science : Tools and Techniques'
s1 = slice(12)
s2 = slice(3, 10, 2)
s3 = slice(2, 10, 2)
 
print("String slicing")
print(String[s1])
print(String[s2])
print(String[s3])

String slicing
Data Science
aSin
t ce

16. A program to find minimum, maximum in a list -

In [16]:
list = [4, 4, 4, 6, 3, 6, 5, 8, 9, 10, 17]
a = max(list)
b = min(list)
print("Maximun vlaue in a list :" , a)
print("Minimum vlaue in a list :" , b)

Maximun vlaue in a list : 17
Minimum vlaue in a list : 3

17. A program to search an element in a list, find the number of occurrences and the index of its 
first occurrence

In [46]:
def search(list,n):
  
    for i in range(len(list)):
        if list[i] == n:
            return True
    return False
  
# list which contains both string and numbers.
list = [1, 2, 'Sameer', 4,'Ritesh', 6]
  
# Driver Code
n = 'Ritesh'
  
if search(list, n):
    print("Found")
else:
    print("Not Found")

Found

In [51]:
# find the number of occurrences
list = [4, 4, 4, 6, 3, 6, 5, 8, 9, 10, 17]
x=float(input("Which value do you want to see number of occurrences : "))
print("{} has occured {} times". format (x, list.count(x)))

Which value do you want to see number of occurrences : 5
5.0 has occured 1 times

In [54]:
#the index of its first occurrence
string = 'Python programming. Network programming.'
substring = 'prog'

index = string.find(substring)
print(index)

7

18. A program to create a 2D list

In [114]:
# 2D array
rows, cols = (7, 7)
arr = [[0]*cols]*rows
print(arr)

[[0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0]]

19. A program to iterate over a 2D list in different ways

In [42]:
a = [ [2, 4, 6, 8 ], 
    [ 1, 3, 5, 7 ], 
    [ 8, 6, 4, 2 ], 
    [ 7, 5, 3, 1 ] ] 
          
for i in range(len(a)) : 
    for j in range(len(a[i])) : 
        print(a[i][j], end=" ")
    print()

2 4 6 8
1 3 5 7
8 6 4 2
7 5 3 1

20. A program to perform spilt and join operation on a list

In [44]:
 
def split_string(string):
  
    # Split the string based on space delimiter
    list_string = string.split(' ')
      
    return list_string
  
def join_string(list_string):
  
    # Join the string based on '-' delimiter
    string = '_'.join(list_string)
      
    return string
  
# Driver Function
if __name__ == '__main__':
    string = 'Data Science: Tools and Techniques'
      
    # Splitting a string
    list_string = split_string(string)
    print(list_string)
  
     # Join list of strings into one
    new_string = join_string(list_string)
    print(new_string)

['Data', 'Science:', 'Tools', 'and', 'Techniques']
Data_Science:_Tools_and_Techniques